<template>
    <div>登录页面
        <button @click="login">登录</button>
    </div>
</template>

<script>
export default {
    methods: {
        login(){
            console.log("登录");
        }
    },
}
</script>

<style>

</style>