<template>
  <div class="Classify">
      <li v-for="(item,index) in list" :key="index" @click="deli(index)">{{item.title}}</li>
  </div>
</template>

<script>
export default {
  data(){
    return {
      list:[]
    }
  },
  mounted() {
  axios.get("/list").then(res=>{
      console.log(res.data);
      this.list = res.data
  })    
  },
  methods: {
    deli(id){
      console.log(id);
    }
  },
}
</script>

<style>

</style>