/<template>
  <div class="Index">
    <div class="list">
      <div v-for="(item,index) in list" :key='index'>{{item.data}}</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      list: [
      {
        data:'哈哈哈哈'
      },
       {
        data:'劳斯莱斯'
      },
       {
        data:'鹅鹅鹅饿'
      },
       {
        data:'团团圆圆'
      },
      ]
    };
  },
  mounted() {
  axios.get("/list").then(res=>{
      console.log(res.data);
  })    
  },
 

};
</script>

<style>
</style>