<template>
  <div class="My">
    我的页面
    <div v-for="(item, index) in arr" :key="index">
      <p>{{ item.id }}</p>
      <p>{{ item.title }}</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      arr: [],
    };
  },
  mounted() {
    axios.get("/list").then((res) => {
      // console.log(res.data);
      this.arr = res.data;
    });
  },
};
</script>

<style>
</style>