/<template>
  <div class="shopping">
 shopping
    <p v-for="(item, index) in arr" :key="index"> 
     {{item.title}}
    </p>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data(){
return{
  arr:[]
}
  },
mounted (){
  axios.get("/list").then((res)=>{
    this.arr=res.data
  })
}
}
</script>

<style>

</style>