<template>
  <div class="home">
    <header>home</header>
    <main>
      <router-view />
    </main>
    <footer>
      <a href="/home/index">首页</a>
      <a href="/home/classify">分类</a>
      <a href="/home/shopping">购物车</a>
      <a href="/home/my">我的</a>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
};
</script>
